h1 {
    border:4px black solid;
    margin-top: 200px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

p {
    border: 4px black solid;
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 100px;
}